
***Project Details***
- Data Source : Kaggle ([WW2 Aircraft](https://www.kaggle.com/datasets/iskk97/ww2-aircraft))
- By: Bhakti Chokshi
- Class: ICT'19 A
- Guidance by: Archana Ma'am

***Description***
>
The project is divided in 2 parts : Preprocessing, and Decision Tree Implementation
Preprocessing part includes removal of null values and scaling the data.
Decision Tree Implementation is done directly with the help of sklearn library with criterions - gini and entropy.
Accuracy with "gini" on test data = 95.29%
Accuracy with "entropy" on test data = 94.11%

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import math
warnings.filterwarnings('ignore')

In [ ]:
data = "ww2aircraft.csv"

In [ ]:
df = pd.read_csv(data)

In [ ]:
df.shape

(338, 15)

In [ ]:
df.head()

,Name,PrimaryRole,Manufacturer,Country,Number,ActiveSince,LastBuilt,Retired,State,Crew,Length,Wingspan,Height,WingArea,MaxSpeed
0,K-Class Airship,Patrol Airship,Goodyear Aircraft Corporation,United States,134.0,1938.0,1954.0,1959.0,Retired,10,76.73,17.63,NaN,NaN,125.0
1,L-4 Grasshopper,Reconnaissance Aircraft,"Piper Aircraft, Inc.",United States,20038.0,1938.0,1947.0,NaN,Active,1,6.83,10.74,2.03,16.58,140.0
2,L-2 Grasshopper,Reconnaissance Aircraft,Taylorcraft Aviation,United States,1984.0,1941.0,NaN,NaN,Active,2,6.9,10.80,2.00,16.80,148.0
3,Ki-4,Reconnaissance Aircraft,Nakajima Aircraft Company,Japan,516.0,1934.0,1939.0,1943.0,Retired,2,7.73,12.00,3.50,29.70,153.0
4,Fi 156 Storch,Reconnaissance Aircraft,Gerhard Fieseler Werke,Germany,2900.0,1937.0,1965.0,1970.0,Retired,2,9.91,14.25,3.05,26.00,175.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 338 entries, 0 to 337
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          338 non-null    object
 1   PrimaryRole   338 non-null    object
 2   Manufacturer  337 non-null    object
 3   Country       338 non-null    object
 4   Number        337 non-null    float64
 5   ActiveSince   324 non-null    float64
 6   LastBuilt     284 non-null    float64
 7   Retired       311 non-null    float64
 8   State         338 non-null    object
 9   Crew          338 non-null    int64
 10  Length        336 non-null    object
 11  Wingspan      337 non-null    float64
 12  Height        333 non-null    float64
 13  WingArea      331 non-null    float64
 14  MaxSpeed      338 non-null    float64
dtypes: float64(8), int64(1), object(6)
memory usage: 39.7+ KB

In [ ]:
df.isnull().sum()

Name             0
PrimaryRole      0
Manufacturer     1
Country          0
Number           1
ActiveSince     14
LastBuilt       54
Retired         27
State            0
Crew             0
Length           2
Wingspan         1
Height           5
WingArea         7
MaxSpeed         0
dtype: int64

In [ ]:
print(df.dtypes)

Name             object
PrimaryRole      object
Manufacturer     object
Country          object
Number          float64
ActiveSince     float64
LastBuilt       float64
Retired         float64
State            object
Crew              int64
Length           object
Wingspan        float64
Height          float64
WingArea        float64
MaxSpeed        float64
dtype: object

In [ ]:
df.loc[df['Length'] == '1.439.332' , 'Length' ] = '1.439'
df.loc[df['Length'] == '1.239.838' , 'Length' ] = '1.239'
df.loc[df['Length'] == '1.947.863' , 'Length' ] = '1.947'
df.loc[df['Wingspan'] == '1.199.726' , 'Wingspan' ] = '1.199'
df.loc[df['Wingspan'] == '1.265.873' , 'Wingspan' ] = '1.265'

In [ ]:
df["Manufacturer"].fillna("No Manufacturer", inplace = True)

In [ ]:
df = df[df['Number'].notna()]

In [ ]:
df['ActiveSince'] = pd.to_numeric(df['ActiveSince'])
df['LastBuilt'] = pd.to_numeric(df['LastBuilt'])
df['Retired'] = pd.to_numeric(df['Retired'])
df['Length'] = pd.to_numeric(df['Length'])
df['Wingspan'] = pd.to_numeric(df['Wingspan'])
df['Height'] = pd.to_numeric(df['Height'])
df['WingArea'] = pd.to_numeric(df['WingArea'])
df['MaxSpeed'] = pd.to_numeric(df['MaxSpeed'])

In [ ]:
df['ActiveSince'] = df['ActiveSince'].fillna(df['ActiveSince'].mode()[0])
df['LastBuilt'] = df['LastBuilt'].fillna(df['LastBuilt'].mode()[0])

In [ ]:
df["Retired"].fillna(0 , inplace = True)

In [ ]:
PR = df.set_index('PrimaryRole')
PR

,Name,Manufacturer,Country,Number,ActiveSince,LastBuilt,Retired,State,Crew,Length,Wingspan,Height,WingArea,MaxSpeed
PrimaryRole,,,,,,,,,,,,,,
Patrol Airship,K-Class Airship,Goodyear Aircraft Corporation,United States,134.0,1938.0,1954.0,1959.0,Retired,10,76.73,17.63,NaN,NaN,125.0
Reconnaissance Aircraft,L-4 Grasshopper,"Piper Aircraft, Inc.",United States,20038.0,1938.0,1947.0,0.0,Active,1,6.83,10.74,2.03,16.58,140.0
Reconnaissance Aircraft,L-2 Grasshopper,Taylorcraft Aviation,United States,1984.0,1941.0,1945.0,0.0,Active,2,6.90,10.80,2.00,16.80,148.0
Reconnaissance Aircraft,Ki-4,Nakajima Aircraft Company,Japan,516.0,1934.0,1939.0,1943.0,Retired,2,7.73,12.00,3.50,29.70,153.0
Reconnaissance Aircraft,Fi 156 Storch,Gerhard Fieseler Werke,Germany,2900.0,1937.0,1965.0,1970.0,Retired,2,9.91,14.25,3.05,26.00,175.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Jet Fighter,Me 163 Komet,Messerschmitt AG,Germany,370.0,1944.0,1945.0,1945.0,Retired,1,5.70,9.30,2.50,19.60,900.0
Jet Fighter,Me 262 Schwalbe,Messerschmitt AG,Germany,1433.0,1944.0,1945.0,1951.0,Retired,1,10.60,12.60,3.50,21.70,900.0
Jet Fighter,He 162 Volksjger,Heinkel Flugzeugwerke,Germany,320.0,1945.0,1945.0,1945.0,Retired,1,9.05,7.20,2.60,11.16,905.0
Jet Fighter,P-80 Shooting Star,Lockheed Corporation,United States,1715.0,1945.0,1950.0,1974.0,Retired,1,10.49,11.81,3.43,22.07,956.0
Jet Fighter,Meteor,Gloster Aircraft Ltd,United Kingdom,3947.0,1944.0,1955.0,1980.0,Retired,1,13.59,11.33,3.96,33.00,970.0

In [ ]:
asd = PR.xs('Assault Drone')
tra = PR.xs('Transport')
pat = PR.xs('Patrol Airship')
pro = PR.xs('Prototype Aircraft')
fig = PR.xs('Fighter')

In [ ]:
tra_wingspan_mean = tra['Wingspan'].mean()

values = {tra_wingspan_mean: (df['PrimaryRole'] == 'Transport') & df['Wingspan'].isnull()}
for replacement_value, value in values.items():
  df.loc[value, 'Wingspan'] = replacement_value

In [ ]:
asd_length_mean = asd['Length'].mean()
tra_length_mean = tra['Length'].mean()

values = {asd_length_mean: (df['PrimaryRole'] == 'Assault Drone') & df['Length'].isnull(), tra_length_mean: (df['PrimaryRole'] == 'Transport') & df['Length'].isnull()}
for replacement_value, value in values.items():
  df.loc[value, 'Length'] = replacement_value

In [ ]:
#asd_height_mean = asd['Height'].mean()
#pat_height_mean = pat['Height'].mean()
pro_height_mean = pro['Height'].mean()
tra_height_mean = tra['Height'].mean()
asd_height_mean = 4.45
pat_height_mean = df['Height'].mean()

values = {asd_height_mean: (df['PrimaryRole'] == 'Assault Drone') & df['Height'].isna(), tra_height_mean: (df['PrimaryRole'] == 'Transport') & df['Height'].isnull(), pat_height_mean: (df['PrimaryRole'] == 'Patrol Airship') & df['Height'].isna(), pro_height_mean: (df['PrimaryRole'] == 'Prototype Aircraft') & df['Height'].isnull() }
for replacement_value, value in values.items():
  df.loc[value, 'Height'] = replacement_value

df['Height'].mean()

4.457251280663136

In [ ]:
#asd_wingarea_mean = asd['WingArea'].mean()
fig_wingarea_mean = fig['WingArea'].mean()
#pat_wingarea_mean = pat['WingArea'].mean()
pro_wingarea_mean = pro['WingArea'].mean()
tra_wingarea_mean = tra['WingArea'].mean()
asd_wingarea_mean = 52.07
pat_wingarea_mean = df['WingArea'].mean()

values = {asd_wingarea_mean: (df['PrimaryRole'] == 'Assault Drone') & df['WingArea'].isna(), fig_wingarea_mean: (df['PrimaryRole'] == 'Fighter') & df['WingArea'].isnull(), pat_wingarea_mean: (df['PrimaryRole'] == 'Patrol Airship') & df['WingArea'].isnull(), pro_wingarea_mean: (df['PrimaryRole'] == 'Prototype Aircraft') & df['WingArea'].isnull(), tra_wingarea_mean: (df['PrimaryRole'] == 'Transport') & df['WingArea'].isnull()}
for replacement_value, value in values.items():
  df.loc[value, 'WingArea'] = replacement_value

df['WingArea'].mean()

52.073349272685775

In [ ]:
df.to_csv(r'ww2_preprocessed.csv', index = False)

In [ ]:
df.isnull().sum()

Name            0
PrimaryRole     0
Manufacturer    0
Country         0
Number          0
ActiveSince     0
LastBuilt       0
Retired         0
State           0
Crew            0
Length          0
Wingspan        0
Height          0
WingArea        0
MaxSpeed        0
dtype: int64

In [ ]:
df.describe()

,Number,ActiveSince,LastBuilt,Retired,Crew,Length,Wingspan,Height,WingArea,MaxSpeed
count,337.000000,337.000000,337.000000,337.000000,337.000000,337.000000,337.000000,337.000000,337.000000,337.000000
mean,2362.575668,1939.065282,1943.646884,1792.706231,2.884273,14.481421,18.391666,4.457251,52.073349,438.295846
std,4611.239507,3.775139,5.603193,529.924989,2.424139,14.010571,15.547236,2.991663,53.299343,159.544102
min,1.000000,1924.000000,1932.000000,0.000000,1.000000,1.239000,1.199000,1.160000,3.600000,125.000000
25%,134.000000,1937.000000,1941.000000,1944.000000,1.000000,8.810000,11.000000,3.250000,21.920000,317.000000
50%,541.000000,1940.000000,1944.000000,1945.000000,2.000000,11.000000,14.630000,3.910000,33.000000,430.000000
75%,1931.000000,1942.000000,1945.000000,1951.000000,4.000000,15.300000,21.100000,4.791000,59.000000,547.000000
max,36163.000000,1945.000000,2009.000000,1995.000000,14.000000,132.906000,164.021000,32.068000,486.200000,970.000000

In [ ]:
df['Country'].unique()

array(['United States', 'Japan', 'Germany', 'France', 'Italy', 'Russia',
       'United Kingdom', 'Canada', 'Poland', 'China', 'Australia',
       'Czechoslovakia', 'Netherlands', 'Romania', 'Yugoslavia'],
      dtype=object)

In [ ]:
len(df['Country'].unique())

15

In [ ]:
df['PrimaryRole'].unique()

array(['Patrol Airship', 'Reconnaissance Aircraft', 'Trainer Aircraft',
       'Light Bomber', 'Seaplane', 'Light Observation', 'Heavy Bomber',
       'Other', 'Prototype Aircraft', 'Torpedo Bomber', 'Medium Bomber',
       'Assault Drone', 'Transport', 'Glider', 'Short-Haul Airliner',
       'Fighter', 'Sport Aircraft', 'Ground Attack Aircraft',
       'Liaison Aircraft', 'Heavy Fighter', 'Biplane Fighter',
       'Dive Bomber', 'Night Fighter', 'Jet Fighter'], dtype=object)

In [ ]:
len(df['PrimaryRole'].unique())

24

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 337 entries, 0 to 337
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          337 non-null    object
 1   PrimaryRole   337 non-null    object
 2   Manufacturer  337 non-null    object
 3   Country       337 non-null    object
 4   Number        337 non-null    float64
 5   ActiveSince   337 non-null    float64
 6   LastBuilt     337 non-null    float64
 7   Retired       337 non-null    float64
 8   State         337 non-null    object
 9   Crew          337 non-null    int64
 10  Length        337 non-null    float64
 11  Wingspan      337 non-null    float64
 12  Height        337 non-null    float64
 13  WingArea      337 non-null    float64
 14  MaxSpeed      337 non-null    float64
dtypes: float64(9), int64(1), object(5)
memory usage: 42.1+ KB

In [ ]:
C_df = df.copy()
C_df.drop(['Name','PrimaryRole', 'Manufacturer', 'Number', 'State', 'Crew'], axis=1, inplace=True)

In [ ]:
x = C_df
y = C_df['Country']

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
x['Country'] = le.fit_transform(x['Country'])
y = le.transform(y)

In [ ]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 337 entries, 0 to 337
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Country      337 non-null    int64
 1   ActiveSince  337 non-null    float64
 2   LastBuilt    337 non-null    float64
 3   Retired      337 non-null    float64
 4   Length       337 non-null    float64
 5   Wingspan     337 non-null    float64
 6   Height       337 non-null    float64
 7   WingArea     337 non-null    float64
 8   MaxSpeed     337 non-null    float64
dtypes: float64(8), int64(1)
memory usage: 26.3 KB

In [ ]:
x.head()

,Country,ActiveSince,LastBuilt,Retired,Length,Wingspan,Height,WingArea,MaxSpeed
0,13,1938.0,1954.0,1959.0,76.73,17.63,4.446753,52.144548,125.0
1,13,1938.0,1947.0,0.0,6.83,10.74,2.030000,16.580000,140.0
2,13,1941.0,1945.0,0.0,6.90,10.80,2.000000,16.800000,148.0
3,7,1934.0,1939.0,1943.0,7.73,12.00,3.500000,29.700000,153.0
4,5,1937.0,1965.0,1970.0,9.91,14.25,3.050000,26.000000,175.0

In [ ]:
cols = x.columns

In [ ]:
from sklearn.preprocessing import MinMaxScaler
ms = MinMaxScaler()
x = ms.fit_transform(x)

In [ ]:
x = pd.DataFrame(x, columns=[cols])

In [ ]:
x.head()

,Country,ActiveSince,LastBuilt,Retired,Length,Wingspan,Height,WingArea,MaxSpeed
0,0.928571,0.666667,0.285714,0.981955,0.573348,0.100914,0.106340,0.100590,0.000000
1,0.928571,0.666667,0.194805,0.000000,0.042463,0.058598,0.028148,0.026896,0.017751
2,0.928571,0.809524,0.168831,0.000000,0.042995,0.058966,0.027177,0.027352,0.027219
3,0.500000,0.476190,0.090909,0.973935,0.049299,0.066336,0.075709,0.054082,0.033136
4,0.357143,0.619048,0.428571,0.987469,0.065856,0.080155,0.061149,0.046415,0.059172

In [ ]:
X = C_df
y = C_df['Country']

In [ ]:
display(X.shape, y.shape)

(337, 9)

(337,)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 50, test_size = 0.25)

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
clf = DecisionTreeClassifier()
clf.fit(X_train,y_train)

DecisionTreeClassifier()

In [ ]:
y_pred = clf.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
print('Accuracy Score on train data (using Default criterionas gini): ', accuracy_score(y_true=y_train, y_pred=clf.predict(X_train)))
print('Accuracy Score on test data (using Default criterionas gini): ', accuracy_score(y_true=y_test, y_pred=y_pred))

Accuracy Score on train data (using Default criterionas gini):  1.0
Accuracy Score on test data (using Default criterionas gini):  0.9529411764705882

In [ ]:
clf_entropy = DecisionTreeClassifier(criterion = 'entropy')

In [ ]:
clf_entropy.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy')

In [ ]:
y_pred_entropy =  clf_entropy.predict(X_test)

In [ ]:
print('Accuracy Score on train data (using Default criterion as Entropy): ', accuracy_score(y_true=y_train, y_pred =clf_entropy.predict(X_train)))
print('Accuracy Score on test data (using Default criterion as Entropy): ', accuracy_score(y_true=y_test, y_pred =y_pred_entropy))

Accuracy Score on train data (using Default criterion as Entropy):  1.0
Accuracy Score on test data (using Default criterion as Entropy):  0.9647058823529412

In [ ]:
clf2 = DecisionTreeClassifier( min_samples_split=50)
clf2.fit(X_train, y_train)

DecisionTreeClassifier(min_samples_split=50)

In [ ]:
print('Accuracy Score on train data (using Default criterion as Entropy & min_samples_split): ', accuracy_score(y_true=y_train, y_pred=clf2.predict(X_train)))
print('Accuracy Score on the test data (using Default criterion as Entropy & min_samples_split): ', accuracy_score(y_true=y_test, y_pred=clf2.predict(X_test)))

Accuracy Score on train data (using Default criterion as Entropy & min_samples_split):  0.9642857142857143
Accuracy Score on the test data (using Default criterion as Entropy & min_samples_split):  0.9411764705882353

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [ ]:
cm

array([[ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  4,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0, 10,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  7,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0, 21,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  2,  1,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  6,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 15,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 17]])